<ion-header>
    <ion-toolbar>
        <ion-title>
            Midgard
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>
            <h2>Vikings</h2>
        </ion-list-header>
        <ion-item detail href="">
            <ion-label>Berserker</ion-label>
        </ion-item>
        <ion-item detail href="">
            <ion-label>Warrior</ion-label>
        </ion-item>
        <ion-item detail href="">
            <ion-label>Skald</ion-label>
        </ion-item>
        <ion-item detail href="">
            <ion-label>Thane</ion-label>
        </ion-item>
        <ion-item detail href="">
            <ion-label>Savage</ion-label>
        </ion-item>
        <ion-list-header>
            <h2>Seer</h2>
        </ion-list-header>
        <ion-item detail href="">
            <ion-label>Healer</ion-label>
        </ion-item>
        <ion-item detail href="">
            <ion-label>Shaman</ion-label>
        </ion-item>
        <ion-list-header>
            <h2>Rogue</h2>
        </ion-list-header>
        <ion-item detail href="">
            <ion-label>Hunter</ion-label>
        </ion-item>
        <ion-item detail href="">
            <ion-label>Shadowblade</ion-label>
        </ion-item>
        <ion-list-header>
            <h2>Mystic</h2>
        </ion-list-header>
        <ion-item detail href="">
            <ion-label>Runemaster</ion-label>
        </ion-item>
        <ion-item detail href="">
            <ion-label>Spiritmaster</ion-label>
        </ion-item>
        <ion-item detail href="">
            <ion-label>Bonedancer</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
