<ion-header>
    <ion-toolbar>
        <ion-title>
            Hibernia
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>
            <h2>Naturalist</h2>
        </ion-list-header>
        <ion-item detail href="">
            <ion-label>Bard</ion-label>
        </ion-item>
        <ion-item detail href="">
            <ion-label>Druid</ion-label>
        </ion-item>
        <ion-item detail href="">
            <ion-label>Warden</ion-label>
        </ion-item>
        <ion-list-header>
            <h2>Guardian</h2>
        </ion-list-header>
        <ion-item detail href="">
            <ion-label>Blademaster</ion-label>
        </ion-item>
        <ion-item detail href="">
            <ion-label>Hero</ion-label>
        </ion-item>
        <ion-item detail href="">
            <ion-label>Champion</ion-label>
        </ion-item>
        <ion-list-header>
            <h2>Magician</h2>
        </ion-list-header>
        <ion-item detail href="">
            <ion-label>Eldritch</ion-label>
        </ion-item>
        <ion-item detail href="">
            <ion-label>Enchanter</ion-label>
        </ion-item>
        <ion-item detail href="">
            <ion-label>Mentalist</ion-label>
        </ion-item>
        <ion-list-header>
            <h2>Stalker</h2>
        </ion-list-header>
        <ion-item detail href="">
            <ion-label>Nightshade</ion-label>
        </ion-item>
        <ion-item detail href="">
            <ion-label>Ranger</ion-label>
        </ion-item>
        <ion-list-header>
            <h2>Forester</h2>
        </ion-list-header>
        <ion-item detail href="">
            <ion-label>Animist</ion-label>
        </ion-item>
        <ion-item detail href="">
            <ion-label>Valewalker</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
