<ion-header>
    <ion-toolbar>
        <ion-title>
            Albion
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>
            <h2>Fighter</h2>
        </ion-list-header>
        <ion-item detail href="/builder/armsman">
            <ion-label>Armsman</ion-label>
        </ion-item>
        <ion-item detail href="/builder/paladin">
            <ion-label>Paladin</ion-label>
        </ion-item>
        <ion-item detail href="">
            <ion-label>Mercenary</ion-label>
        </ion-item>
        <ion-item detail href="">
            <ion-label>Reaver</ion-label>
        </ion-item>
        <ion-list-header>
            <h2>Acolyte</h2>
        </ion-list-header>
        <ion-item detail href="">
            <ion-label>Cleric</ion-label>
        </ion-item>
        <ion-item detail href="">
            <ion-label>Friar</ion-label>
        </ion-item>
        <ion-list-header>
            <h2>Rogue</h2>
        </ion-list-header>
        <ion-item detail href="">
            <ion-label>Infiltrator</ion-label>
        </ion-item>
        <ion-item detail href="">
            <ion-label>Minstrel</ion-label>
        </ion-item>
        <ion-item detail href="">
            <ion-label>Scout</ion-label>
        </ion-item>
        <ion-list-header>
            <h2>Mage</h2>
        </ion-list-header>
        <ion-item detail href="">
            <ion-label>Cabalist</ion-label>
        </ion-item>
        <ion-item detail href="">
            <ion-label>Sorcerer</ion-label>
        </ion-item>
        <ion-list-header>
            <h2>Elementalist</h2>
        </ion-list-header>
        <ion-item detail href="">
            <ion-label>Theurgist</ion-label>
        </ion-item>
        <ion-item detail href="">
            <ion-label>Wizard</ion-label>
        </ion-item>
        <ion-list-header>
            <h2>Disciple</h2>
        </ion-list-header>
        <ion-item detail href="">
            <ion-label>Necromancer</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
